/* Form Label Styling */
ion-item ion-label,
ion-label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #333;
}

/* Form Field Containers */
ion-item {
  --padding-start: 12px;
  --inner-padding-end: 12px;
  --background: #ffffff;
  border-radius: 8px;
  margin-bottom: 12px;
}

/* Form Inputs */
ion-input, ion-select, ion-textarea {
  font-size: 20px;
  color: black;
}

/* Select text color */
ion-select::part(text) {
  color: black;
}

/* Button Styling */
ion-button {
  font-weight: bold;
  letter-spacing: 1px;
}

ion-button.search-btn {
  background-color: #000;
  color: white;
}

/*Message */
div[ngIf="showSuccessMessage"] {
  background: var(--ion-color-success);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 16px;
}

/*Table Styling */
/*kept the original style form tab 1 table to make it seamless */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: white;
  
  thead {
    background: var(--ion-color-primary);
    color: white;
    
    th {
      padding: 12px;
      text-align: left;
    }
  }
  
  tbody {
    tr {
      border-bottom: 1px solid #eee;
      
      td {
        padding: 12px;
      }
    }
  }
}

/*Headings */
h2 {
  color: #afbcd6;
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}
