<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center">Adding New Item into dataset</ion-title>
  </ion-toolbar>
</ion-header>

<li>All fields with " * " should be filled </li>

<ion-content class="ion-padding">

  <div *ngIf="showSuccessMessage">
    Item has been added successfully! Thanks
  </div>

  <form (ngSubmit)="addItem()" #itemForm="ngForm">
    <ion-item>
      <ion-label position="floating">- Item Name*</ion-label>
      <ion-input type="text" [(ngModel)]="newItem.itemName" name="itemName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>- Category*</ion-label>
      <ion-select [(ngModel)]="newItem.category" name="category" required>
        <ion-select-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">- Quantity*</ion-label>
      <ion-input type="number" [(ngModel)]="newItem.quantity" name="quantity" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">- Price*</ion-label>
      <ion-input type="number" [(ngModel)]="newItem.price" name="price" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">- Supplier Name*</ion-label>
      <ion-input type="text" [(ngModel)]="newItem.supplierName" name="supplierName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>- Stock Status*</ion-label>
      <ion-select [(ngModel)]="newItem.stockStatus" name="stockStatus" required>
        <ion-select-option *ngFor="let status of stockStatuses" [value]="status">{{status}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Featured</ion-label>
      <ion-toggle [(ngModel)]="newItem.featuredItem" name="featuredItem"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Special Note</ion-label>
      <ion-input type="text" [(ngModel)]="newItem.specialNote" name="specialNote"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!itemForm.valid">Add Item</ion-button>
  </form>

  <h2>All Items avaiable</h2>
  <table border="1" width="100%">
    <thead>
      <tr>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Supplier</th>
        <th>Status</th>
        <th>Featured</th>
        <th>Special Note</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allItems">
        <td>{{ item.itemId }}</td>
        <td>{{ item.itemName }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.supplierName }}</td>
        <td>{{ item.stockStatus }}</td>
        <td>{{ item.featuredItem? 'Yes' : 'No' }}</td>
        <td>{{item.specialNote}}</td>
      </tr>
    </tbody>
  </table>

  <h2> All Featured Items</h2>
  <table border="1" width="100%">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of featuredItems">
        <td>{{ item.itemName }}</td>
        <td>{{ item.category }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>