<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inventory List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems()" placeholder="Search by name"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of filteredItems">
      <ion-label>
        <h2> {{ item.itemId }} : {{ item.itemName }}</h2>
        <p>Category: {{ item.category }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Price: $ {{ item.price }}</p>
        <p>Supplier: {{ item.supplierName }}</p>
        <p>Status: {{ item.stockStatus }}</p>
        <p>Featured Item: {{item.featuredItem ? 'Yes' : 'No'}}</p>
        <p>Special Note: {{item.specialNote}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
