<ion-header>
  <ion-toolbar>
    <ion-title>
      Inventory List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar 
    [(ngModel)]="searchTerm" 
    (ionInput)="filterItems()" 
    placeholder="Search items">
  </ion-searchbar>

  <table border="1" width="100%">
    <thead>
      <tr>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Supplier</th>
        <th>Status</th>
        <th>Featured</th>
        <th>Special Note</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredItems">
        <td>{{ item.itemId }}</td>
        <td>{{ item.itemName }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price | currency }}</td>
        <td>{{ item.supplierName || 'N/A' }}</td>
        <td>{{ item.stockStatus }}</td>
        <td>{{ item.featuredItem ? 'Yes' : 'No' }}</td>
        <td>{{ item.specialNote }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>