<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update/Delete Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Search Item Name</ion-label>
    <ion-input [(ngModel)]="searchName" type="text"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="searchItem()">Search</ion-button>

  <div *ngIf="item">
    <ion-item>
      <ion-label position="stacked">Item ID</ion-label>
      <ion-input [value]="item.item_id" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Category</ion-label>
      <ion-select [(ngModel)]="item.category">
        <ion-select-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Quantity</ion-label>
      <ion-input type="number" [(ngModel)]="item.quantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Price</ion-label>
      <ion-input type="number" [(ngModel)]="item.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Supplier Name</ion-label>
      <ion-input type="text" [(ngModel)]="item.supplier_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Stock Status</ion-label>
      <ion-select [(ngModel)]="item.stock_status">
        <ion-select-option *ngFor="let status of stockStatuses" [value]="status">
          {{ status }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Featured Item</ion-label>
      <ion-toggle [(ngModel)]="item.featuredItem" [checked]="item.featuredItem === 1"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Special Note</ion-label>
      <ion-textarea [(ngModel)]="item.special_note"></ion-textarea>
    </ion-item>

    <ion-button expand="block" color="success" (click)="updateItem()">Update</ion-button>
    <ion-button expand="block" color="danger" (click)="confirmDelete()">Delete</ion-button>
  </div>
</ion-content>