
/*  Global SCSS: */


/* Ionic Default Imports */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";

/*Body*/
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #0d0d0d; 
  color: #ffffff; 
  margin: 0;
}

/*Toolbar*/
ion-toolbar {
  --background: #2e3a47; 
  --color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #4d5b6b;
}

/*Tab Bar*/
ion-tab-bar {
  --background: #1a1a1a;
  border-top: 1px solid #4d5b6b;
}

ion-tab-button {
  --color: #777;
  --color-selected: #5c7080; 
  font-size: 13px;
}

/* Form Buttons */
ion-button {
  --border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  text-transform: none;
}

ion-button[color="primary"] {
  --background: #5c7080; 
  --background-activated: #4d5b6b;
  --background-hover: #7389a0;
  --color: #ffffff;
}

ion-button[color="danger"] {
  --background: #dc3545;
  --color: #ffffff;
}

ion-item {
  --background: #1a1a1a;
  --border-radius: 12px;
  margin-bottom: 12px;
  border: 1px solid #4d5b6b; 
}

/* Input */
ion-label {
  font-size: 14px;
  font-weight: 500;
  color: #9ea7b0; 
}

ion-input, ion-select, ion-textarea {
  font-size: 15px;
  color: #ffffff; 
}

ion-input::part(native),
ion-select::part(text),
ion-textarea::part(native) {
  color: #ffffff;
}

/*Headings*/
h1, h2, h3 {
  color: #ccd6dd;
}

/*popup*/
.custom-alert .alert-wrapper {
  border-radius: 12px;
  background-color: #2e3a47;
  color: #ffffff;
  padding: 16px;
}

.custom-alert .alert-message {
  font-size: 14px;
  line-height: 1.6;
}

/*Padding */
@media screen and (min-width: 768px) {
  ion-content {
    padding: 20px;
  }
}
